.tabs {
  border: 1px solid #f0f0f0;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--grey-color);
}

.tabs__tab-list {
  padding-right: 5px;
  display: flex;
  line-height: 1;
  align-items: flex-end;
  color: var(--label-color);
}

.tabs__tab-configure {
  margin-left: auto;
  align-self: center;
  padding: .6em .8em;
}

.tabs__tab-configure button {
  font-weight: bold;
  color: var(--accent-color);
  transition: .3s ease;
}

.tabs__tab-configure button:hover,
.tabs__tab-configure button:focus {
  opacity: .8;
}

.tabs__tab-configure svg {
  fill: var(--accent-color);
  margin-right: .5em;
}

.tabs__tab-configure--active button {
  text-decoration: underline;
}

.tabs__tab-content {
  padding: 14px;
  background-color: #fff;
}
