.tabs {
  border: 1px solid #f0f0f0;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.tabs__tab-list {
  padding-right: 5px;
  display: flex;
  line-height: 1;
  align-items: flex-end;
  color: #848484;
}

.tabs__tab-content {
  padding: 14px;
  background-color: #fff;
}
