.configure-tab__label {
  position: relative;
  display: block;
  margin-bottom: var(--spacing-default);
  color: var(--label-color);
}

.configure-tab__input {
  margin-bottom: var(--spacing-default);
}

.configure-tab__help {
  margin-bottom: 1.5rem;
}
